<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApp5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WpfApp5.Properties.Settings>
            <setting name="Add" serializeAs="String">
                <value>F1</value>
            </setting>
            <setting name="Delete" serializeAs="String">
                <value>F2</value>
            </setting>
            <setting name="Directory_Plugins" serializeAs="String">
                <value>Plugins</value>
            </setting>
            <setting name="Search" serializeAs="String">
                <value>F3</value>
            </setting>
            <setting name="Tab_Modifier" serializeAs="String">
                <value>Ctrl</value>
            </setting>
        </WpfApp5.Properties.Settings>
    </userSettings>
</configuration>